@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #1F2128;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  color: var(--foreground);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}